<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wiki Speedrun Game | Navigate Wikipedia in the Least Clicks</title>

    <meta
      name="description"
      content="Play the Wikipedia Speedrun Game: race from one Wiki article to another with the fewest clicks and fastest time! Challenge yourself and improve your knowledge."
    />

    <!-- metadata for reddit -->
    <meta property="og:image" content="https://wikispeedrun.org/twitter-img.jpg" />
    <meta property="og:image:alt" content="A wikipedia logo with speedrun timer on top of it" />
    <!-- twitter metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@unbound_dev" />
    <meta name="twitter:url" content="https://wikispeedrun.org" />
    <meta name="twitter:title" content="Wiki Speedrun Game" />
    <meta
      name="twitter:description"
      content="Play the Wikipedia Speedrun Game: race from one Wikipedia article to another with the fewest clicks and fastest time! Challenge yourself and improve your knowledge."
    />
    <meta name="twitter:image" content="https://wikispeedrun.org/twitter-img.jpg" />
    <meta name="twitter:image:alt" content="A wikipedia logo with speedrun timer on top of it." />

    <%if (isProd) { %>
    <!-- old icon format -->
    <link rel="icon" sizes="any" href="favicon.ico" />

    <!-- svg icon -->
    <link rel="icon" type="image/svg+xml" href="icon.svg" />

    <% } %> <%if (isDev) { %>
    <!-- old icon format -->
    <link rel="icon" sizes="any" href="favicon-dev.ico" />

    <!-- svg icon -->
    <link rel="icon" type="image/svg+xml" href="icon-dev.svg" />
    <% } %>

    <!-- apple icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://wikispeedrun.org/apple-touch-icon.png"
    />

    <link rel="manifest" href="https://wikispeedrun.org/site.webmanifest" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script>
      // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "VideoGame",
        "name": "Wikipedia Speedrun Game",
        "description": "Play the Wikipedia Speedrun Game: race from one Wikipedia article to another with the fewest clicks and fastest time! Challenge yourself and improve your knowledge.",
        "genre": ["Puzzle", "Speedrun", "Education"],
        "url": "https://wikispeedrun.org",
        "gamePlatform": "Web",
        "author": {
          "@type": "Person",
          "name": "unbound_dev"
        },
        "sameAs": [
          "https://x.com/unbound_dev",
          "https://github.com/B0und/WikiSpeedrun",
          "https://github.com/B0und",
          "https://unbound-dev.com"
        ],
        "inLanguage": [
          "en",
          "de",
          "es",
          "fr",
          "hi",
          "id",
          "it",
          "jp",
          "nl",
          "pl",
          "ru",
          "se",
          "vi",
          "zh"
        ]
      }
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
    <% if(isProd){ %>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "6d1eeb4908dc4fc38247c05e48505d88"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
    <% } %>
  </body>
</html>
