<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wiki Speedrun</title>
    <meta
      name="description"
      content="The goal of the game is to navigate from a starting wikipedia article to another one, in the least amount of clicks and time."
    />
    <!-- metadata for reddit -->
    <meta property="og:image" content="https://wikispeedrun.org/og-image.jpg" />
    <meta
      property="og:image:alt"
      content="A wikipedia logo with speedrun timer on top of it"
    />
    <!-- twitter metadata -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@unbound_dev" />
    <meta name="twitter:url" content="https://wikispeedrun.org" />
    <meta name="twitter:title" content="Wiki Speedrun Game" />
    <meta
      name="twitter:description"
      content="The goal of the game is to navigate from a starting wikipedia article to another one, in the least amount of clicks and time."
    />
    <meta
      name="twitter:image"
      content="https://wikispeedrun.org/twitter-img.jpg"
    />
    <meta
      name="twitter:image:alt"
      content="A wikipedia logo with speedrun timer on top of it."
    />
    <!-- old icon format -->
    <link
      rel="icon"
      sizes="any"
      href="<%=
       process.env.NODE_ENV === 'production'
         ? 'favicon.ico'
         : 'favicon-dev.ico'
     %>"
    />
    <!-- svg icon -->
    <link
      rel="icon"
      type="image/svg+xml"
      href="<%=
           process.env.NODE_ENV === 'production'
             ? 'icon.svg'
             : 'icon-dev.svg'
          %>"
    />
    <!-- apple icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://wikispeedrun.org/apple-touch-icon.png"
    />

    <link rel="manifest" href="https://wikispeedrun.org/site.webmanifest" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- google search verify -->
    <meta
      name="google-site-verification"
      content="-kzAidUp7qgQ2TiFu_Uz-XrRABmMuRIjcUDJ7hMlr4w"
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
