.label {
  font-size: 1.125rem;
  color: var(--color-text-primary);
}

.customInput {
  color: var(--color-text-primary);
  background-color: var(---color-bg-secondary);
  border: 1px solid var(--color-border-secondary);
}
